.header {
    display: flex;
    height: 60px;
    padding: 9px 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D4D8E0;
    background: #FFF;
}

.modeWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modeText {
    color: #5D676F;
    font-size: 16px;
    font-weight: 700;
}

.title {
    color: #5D676F;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.66px;
}

.logoWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logoWrapper img {
    cursor: pointer;
}

.notifyLogo:hover {
    transition: 0.3s all;
    filter: invert(78%) sepia(53%) saturate(1821%) hue-rotate(170deg) brightness(103%) contrast(101%);
}

.menuIcon {
    display: none;
}

@media screen and (max-width: 900px) {
    .header {
        padding: 9px 18px;
    }

    .modeText {
        font-size: 12px;
    }

    .modeWrapper {
        flex-direction: column;
    }

    .title {
        display: none;
    }

    .menuIcon {
        display: unset;
        width: 30px;
    }
}
