.container {
    display: flex;
    flex-direction: column;
    padding: 45px;
    gap: 25px;
}

.innerContainer {
    display: flex;
    gap: 45px;
    justify-content: center;
}

.title {
    color: #5D676F;
    font-weight: 600;
    align-self: center;
}

.form {
    padding-top: 10px;
}

.formItem {
    display: flex;
    gap: 5px;
}

.formSuffix {
    margin-left: 5px;
}
